.App {
  text-align: center;
}

.login {
  padding-left: 20px;
  padding-top: 15px;
}

ul {
  display: inline-block;
}

.neat {
  margin: auto;
}

.PostMenu {
  padding-left: 20px;
  padding-top: 15px;
}

.PutMenu {
  padding-left: 30px;
  padding-top: 15px;
}

.PutOptions {
  padding-left: 20px;
  padding-top: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*****************************************
MAIN PAGE STYLES
*****************************************/

.PokemonElement {
  width: 19%;
  border: 1px solid black;
  text-align: center;
  border-radius: 25px;
  margin: .5%;
}

@media only screen and (max-width: 1280px){
  .PokemonElement {
    width: 24%;
  }
}

@media only screen and (max-width: 720px){
  .PokemonElement {
    width: 49%;
  }
}

.PokemonElement img {
  width: 80%;
  margin: auto;
  
}

.PokemonElement a {
  color: black;
}

.PokemonElement a:hover {
  color: black;
}

.PokemonElement h4 {
  margin: auto;
  max-width: fit-content;
}

.MainPageList {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.SearchBar {
  width: 50%;
  margin: auto;
}

/*****************************************
TEAM BUILDER STYLES
*****************************************/

.team_builder_main {
  display: flex;
  flex-direction: row;
}

.team_lineup {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.team_analysis {
  width: 50%;
}

.team_builder_add_pokemon {
  width: fit-content;
  margin: auto;
}

.team_builder_pokemon {
  width: 80%;
  border: 1px solid black;
  text-align: center;
  border-radius: 25px;
  margin: auto;
  margin-top: 15px;
}


/*****************************************
DETAILED PAGE STYLES
*****************************************/

.detailed_poke_info {
  border-radius: 10px;
  width: 85%;
  /*would be awesome if I could recolor this based on the pokemon type*/
  background-color: lightsalmon;
  margin: auto;
}

.detailed_name {
  margin: auto;
}

.detailed_image {
  background-color: lightskyblue;
  border-radius: 35%;
  width: 35%;
}

.detailed_info_dump {
  display: flex;
  flex-direction: row;
}
